@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  background-color: #92bdd1;
  height: 100%;
  display: flex;
  justify-content: center;
}

.titulo {
  margin-top: 20px;
}

.btnLimpiar {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
}

.contenedorPrincipal {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.contenedorRazonSocial,
.contenedorCondFrenteIva,
.contenedorDomicilio,
.contenedorCuit,
.contenedorDni,
.contenedorNombre,
.contenedorDomicilio2,
.contenedorDescripcion,
.contenedorTotal {
  display: flex;
  align-items: center;
  min-height: 50px;
}

.contenedorTotal {
  padding-bottom: 3px;
}

.inputCuit {
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  width: 150px;
}

.inputDescripcion {
  padding: 2px;
  margin-left: 5px;
  width: 500px;
}

.inputTotal {
  padding: 2px;
  margin-left: 5px;
}

.tituloCuit,
.tituloRazonSocial,
.tituloCondFrenteIva,
.tituloDomicilio,
.tituloDescripcion,
.tituloTotal,
.tituloDni,
.tituloNombre,
.tituloDomicilio2 {
  text-shadow: 0px 0px 1px black;
}

.muestraRazonSocial,
.muestraCondFrenteIva,
.muestraDomicilio,
.muestraDescripcion {
  margin-left: 15px;
  padding: 5px 10px 5px 10px;
  background-color: rgb(233, 233, 233);
}

.contenedorBotones {
  display: flex;
  margin-top: 20px;
}

.advertencia {
  font-weight: 600;
  font-size: 13px;
  color: rgb(238, 0, 0);
}

/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btnIdentificar {
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
}

.btnEnviar {
  margin-left: 200px;
  padding: 5px 10px 5px 10px;
}

.tipoFacturaRight {
  box-shadow: -1px 1px 5px black;
  padding: 5px 15px 5px 15px;
  border-radius: 3px;
  background-color: white;
  font-size: 60px;
  position: absolute;
  top: 20px;
  right: 5px;
}

.contenedorIdentificar {
  width: 350px;
}

#databaseStatus {
  margin-top: 5px;
  font-weight: bold;
  height: 20px;
}

#buscando {
  margin-left: 10px;
}

/*CODIGO VIEJO*/

/* * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  vertical-align: baseline;
}

body,
html {
  background-color: #27699b;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedorPrincipal {
  background-color: rgba(255, 255, 255, 0.178);
  height: 500px;
  width: 750px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 30px 50px 50px 50px;
}

.titulo {
  font-weight: bold;
  color: rgb(20, 20, 71);
  padding-bottom: 10px;
}

.btnLimpiar {
  font-size: 13px;
  padding: 3px 12px 3px 12px;
  border-radius: 5px;
}

.contenedorCuit,
.contenedorRazonSocial,
.contenedorCondFrenteIva,
.contenedorTotal {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.tituloCuit,
.tituloRazonSocial,
.tituloCondFrenteIva,
.tituloDescripcion,
.tituloTotal {
  color: rgb(10, 26, 54);
  font-size: 20px;
  padding-right: 12px;
}

.inputCuit,
.muestraRazonSocial,
.muestraCondFrenteIva,
.muestraTotal,
.inputTotal {
  font-size: 22px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border-bottom: 2px solid #707070;
}

.muestraRazonSocial,
.muestraCondFrenteIva {
  display: flex;
  align-items: center;
}

.contenedorDescripcion {
  padding-top: 30px;
}

.inputDescripcion {
  margin-top: 7px;
  font-size: 22px;
  height: 40px;
  width: 730px;
  padding-left: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border-bottom: 2px solid #707070;
}

.btnEnviar {
  margin-left: 290px;
  margin-top: 20px;
  padding: 10px 50px 10px 50px;
  border-radius: 5px;
}

/* Works for Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.botonBuscar {
  margin-left: 10px;
  padding: 5px;
  border-radius: 3px;
}

#buscando {
  margin-left: 10px;
} */
